# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock
**/ios/Pods/
**/android/.gradle/
**/android/build/
**/ios/Flutter/Flutter.framework

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Firebase
google-services.json
GoogleService-Info.plist

# Environment
.env
.env.local

# Testing
coverage/
.test_runner/
